ANTHROPIC_API_KEY=your_api_key_here
OWNER_HANDLE=seldo.com
NEXT_PUBLIC_OWNER_HANDLE=seldo.com
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
TWITTER_CONSUMER_KEY=your_twitter_client_id
TWITTER_SECRET_KEY=your_twitter_client_secret
